<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="clickBackHandler()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="clickBackHandler()">Cancel</ion-button>
      <ion-button fill="solid" color="primary" (click)="clickSaveHandler()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <form [formGroup]="editAccountForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="accountName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Website</ion-label>
        <ion-input formControlName="accountWebsite" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-buttons slot="end">
        <ion-button fill="outline" (click)="clickBackHandler()">Cancel</ion-button>
        <ion-button fill="solid" color="primary" (click)="clickSaveHandler()">Save</ion-button>
    </ion-buttons>
  </form>
</ion-content>