<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="clickBackHandler()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" slot="end" (click)="clickBackHandler()">Cancel</ion-button>
      <ion-button fill="solid" color="primary" slot="end" (click)="clickSaveHandler()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <form [formGroup]="editAccountForm" (ngSubmit)="saveAccount()"> -->
    <ion-list>
      <ion-item>
        <ion-label color="primary">Name</ion-label>
        <ion-input placeholder="Name ..."></ion-input>
      </ion-item>
    </ion-list>
  <!-- </form> -->
</ion-content>