<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Account List from Salesforce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let account of accounts">
        <ion-label>
          <h2>{{account.Name}}</h2>
        </ion-label>
        <ion-button shape="round" color="primary" fill="outline" (click)="itemSelected(account.Id)">></ion-button>
      </ion-item>
  </ion-list>
</ion-content>
